<header>
    
  <input type="search" placeholder="Digite sua busca aqui ">
  <img src="../assets/logo.jpeg" alt="error" class="LogoGame">
  <div  class="Logos">
    <img src="../assets/logo-facebook.png">
    <img src="../assets/logo-instagram.png" >
    <img src="../assets/logo-yt.png" style=" max-height:3rem;margin-top:1rem;padding-inline-start:0.25em ;">
  </div>

  <div>
    <div class="hamburger-menu">
      <input id="menu__toggle" type="checkbox" />
      <label class="menu__btn" for="menu__toggle">
        <span></span>
      </label>
 </div>
 </div>


</header>
