
    <mat-card class="estilo" >
        <img src="../../assets/ps5.jpg">
   
    <div class="text">
        
            <strong>
            <p>
                PROMOÇÃO IMPERDÍVEL
            </p>    
            </strong>
            
        
        <p>
            Console Playstation® 5 - Sony
        </p>
        <p>
            R$ 4.499.89
        </p>
        <p>
            até 10x de R$ 449,98 sem juros
        </p>
            <p>
                R$4.499,89
            </p>
        
        <button type="submit"><strong>COMPRAR</strong></button>
    </div>
</mat-card>

