
input {
    margin-top:1rem;
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    
}

input[type="submit"] {
  
    background-color:rgb(217, 23, 23) ;
    border: none;
    border-radius: 0.5rem;
    font-style: oblique;
  
  }

.Letra {
    font-family: 'Audiowide';
    src: url('https://fonts.googleapis.com/css?family=Audiowide') !important;
    font-style: bold;
    text-align: center;
    
}
.Corpo {
    
    background-color: rgb(12,39,64) !important;
    height: 100% !important;
    
}

.Logo {
   
    border: 0.2rem dotted blue;
    width: 40%;
    max-height: 100%;
    padding: 0.25rem;
}

.Position {
    text-align: center;
    margin-top: -40rem;
    margin-left: 30rem;
    padding: 37rem 8rem 8rem 1rem;
}

.Box {
    background-color: rgb(206, 220, 234);
    width: 30rem;
    margin-top: -25rem;
    margin-left: 20rem;
    border-radius: 4rem;
    padding: 1rem 1rem;
    border: outset #f33;
    position: absolute;
}

@media (max-width: 1500px) {
    .Box {
    
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, 120%);
        padding: 2rem 1rem;
        

       
    }
}