
<!-- <span style="text-align:center; color:black" > -->
  <p class="h4" style="background-color: #fff;margin-top: -1rem;width: 120rem;text-align: center;"><strong>DEPOIMENTOS DE CLIENTES</strong></p>
<!-- </span> -->
<div class="container" style=" background-color: #fff ; min-width: 120rem !important; margin-top: -1rem;">

  <mat-card class="example-card" style="margin-top:2rem;">
    <mat-card-title-group >
      <mat-card-title style="color:#FFF">Vinicius Lima</mat-card-title>
      <mat-card-subtitle style="color:#FFF">Manaus -AM</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <h2 style=" font-style:  italic;color:#FFF">
      {{longText}}
    </h2>
    <div style="text-align:right; margin-top: -6rem;">
      <span class="fa fa-star" style="color: goldenrod"></span>
      <span class="fa fa-star" style="color: goldenrod "></span>
      <span class="fa fa-star" style="color: goldenrod"></span>
      <span class="fa fa-star" style="color: goldenrod "></span>
      <span class="fa fa-star" style="color: goldenrod"></span>
    </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" style="top: -2rem ;">
    <mat-card-title-group >
      <mat-card-title style="color:#FFF">Roberto Souza</mat-card-title>
      <mat-card-subtitle style="color:#FFF">Suzano-SP</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <h2 style=" font-style:  italic;color:#FFF">
      {{longText3}}
    </h2>
    <div style="text-align:right; margin-top: -6rem;">
      <span class="fa fa-star" style="color: goldenrod"></span>
      <span class="fa fa-star" style="color: goldenrod "></span>
      <span class="fa fa-star" style="color: goldenrod"></span>
      <span class="fa fa-star" style="color: goldenrod "></span>
      <span class="fa fa-star" ></span>
    </div>
    </mat-card-content>
  </mat-card>





  <mat-card class="example-card" style="margin-top:2rem;">
    <mat-card-title-group >
      <mat-card-title style="color:#FFF">Hádelia Bispo</mat-card-title>
      <mat-card-subtitle style="color:#FFF">Salvador - BA</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <h2 style=" font-style:  italic;color:#FFF">
      {{longText2}}
    </h2>
    <div style="text-align:right; margin-top: -6rem;">
      <span class="fa fa-star" style="color: goldenrod"></span>
      <span class="fa fa-star" style="color: goldenrod "></span>
      <span class="fa fa-star" style="color: goldenrod"></span>
      <span class="fa fa-star" style="color: goldenrod "></span>
      <span class="fa fa-star" ></span>
    </div>
    </mat-card-content>
  </mat-card>

</div>
